/* cartItem style */
.label {
    -fx-border-color: black;
    -fx-background-color: "f32a35";
    -fx-font: 100 pxTahoma;
    -fx-text-alignment: left;
    -fx-font-size: 17;
    -fx-text-fill: "white";
}


.image {
    -fx-pref-height: 20px;
    -fx-pref-width: 20px;
    -fx-max-width: 20px;
    -fx-max-height: 20px;
    -fx-min-width: 20px;
    -fx-min-height: 20px;
    -fx-alignment: center;
}
.buttons {
    -fx-border-color: black;
    -fx-background-color: "f32a35";
    -fx-font: 100 pxTahoma;
    -fx-text-alignment: center;
    -fx-font-size: 30;
    -fx-text-fill: "white";
}