#signInPopup {
    -fx-background-color: white;
    -fx-background-radius: 5.0;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

#actionButton {
    -fx-background-color: "FFD213";
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}

#categoriesDropdown {
    -fx-font-size: 15;
    -fx-font-family: Arial;
    -fx-background-color: "f2f2f2";
    -fx-background-radius: 5.0;
}