/* CSS Style Sheet for Home Screen */
#shopNowButton {
    -fx-background-color: Black;
    -fx-background-radius: 5.0;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.25), 10, 0, 0, 0);
}

#center-stack-pane {
    -fx-background-image: url('/images/homepage_background_section_placeholder.png');
}

